.previous-screenings {
  background-color: #f6f6f6;
  width: 100%;
  position: relative;
}

.previous-screenings__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 16px;
  overflow-x: auto;
}

.previous-screenings__title {
  color: var(--main-theme-color);
  font-family: "Afta Serif";
  font-weight: 600;
  font-size: 30px;
}

table {
  border: none;
  margin-top: 20px;
}
tr,
th,
td {
  border-bottom: none;
}

th {
  font-family: "Open Sans";
  color: var(--main-theme-color);
}

td {
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 14px;
}
.column__date {
  width: 25%;
}
.column__location {
  width: 25%;
}
.column__event {
  width: 50%;
}

.showmore {
  position: absolute;
  max-width: 1200px;
  margin: auto;
  background-color: red;
  bottom: 50px;
  left: 0;
  right: 0;
  height: 30px;
  background: transparent
    linear-gradient(0deg, #da847600 0%, #da8476c2 97%, #da8476 100%) 0% 0%
    no-repeat padding-box;
  color: var(--main-theme-color);
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
