.pressCard__container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: 8px;
}
.pressCard__container__date {
  font-family: "Open Sans";
  color: #3b2222;
  font-weight: 700;
  font-size: 14px;
}
.pressCard__container__title {
  font-family: "Open Sans";
  color: var(--main-theme-color);
  font-weight: 700;
  font-size: 30px;
}

.pressCard__container__body {
  font-family: "Open Sans";
  color: #9b9b9b;
  font-weight: normal;
}
.pressCard__container__info__wrapper {
  padding: 16px 0;
}

@media screen and (min-width: 600px) {
  .pressCard__container {
    flex-direction: row;
  }
  .pressCard__container__image {
    flex-basis: 60%;
  }
  .pressCard__container__image img {
    border-radius: 0px;
  }
  .pressCard__container {
    box-shadow: 0px 0px 0px 0px;
  }
  .pressCard__container__info__wrapper {
    flex-basis: 40%;
    padding: 16px 0;
  }
  .pressCard__container__body {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1200px) {
  .pressCard__container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .pressCard__container__info__wrapper {
    padding: 0 16px;
  }
}
