:root {
  --main-theme-color: #da8476;
}
body {
  position: relative;
  overflow: hidden;
}
img {
  margin-bottom: 0;
}
.bold {
  font-weight: bold;
  overflow: hidden;
}
.main--margintop {
  margin-top: 100px;
}
.main {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .main--margintop {
    margin-top: 150px;
  }
}

@font-face {
  font-family: "Afta Serif";
  src: url("../../assets/fonts/aftaserifthin-regular-webfont.woff2")
      format("woff2"),
    url("../../assets/fonts/aftaserifthin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Engravers MT";
  src: url("../../assets/fonts/engr-webfont.woff2") format("woff2"),
    url("../../assets/fonts/engr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uni Sans Heavy";
  src: url("../../assets/fonts/uni-sans-heavy-webfont.woff2") format("woff2"),
    url("../../assets/fonts/uni-sans-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
