/* Stats */
.stats {
  background-color: #fbfbfb;
  padding: 32px 0;
}
.stats__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0;
}
.stats__stat__count {
  color: var(--main-theme-color);
  font-family: "Uni Sans Heavy";
  font-size: 42px;
}
.stats__stat__label {
  font-family: "Uni Sans Heavy";
  color: #9b9b9b;
}
.stats__stat__label::before {
  display: block;
  position: relative;
  margin: 10px auto 25px auto;
  content: "";
  width: 15%;
  border-top: 2px solid #444;
  opacity: 0.9;
}
@media screen and (min-width: 768px) {
  .stats {
    display: flex;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    width: 80%;
    border-radius: 83px;
    justify-content: space-around;
    padding: 8px 0;
    margin: 0 auto;
    transform: translateY(50%);
  }
  .stats__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative;
    flex: 1;
    flex-shrink: 0;
  }
  .stats__stat__label::before {
    display: none;
  }

  .stats__stat__seperator {
    width: 1.5px;
    height: 50px;
    margin: auto 0;
    background-color: #9b9b9b;
  }
}
