/* hero image */
.home__hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../assets/gifs/giphy.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}
.home__hero::before,
.home__hero::after {
  background-color: transparent !important;
}
.home__hero__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__hero__overlay__title {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-family: "Afta serif";
  display: flex;
  align-items: center;
}

.home__hero__overlay__title div {
  font-family: "Engravers MT";
  transform: rotate(180deg);
  font-size: 60px;
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-left: 0px;
  color: var(--main-theme-color);
}

.home__hero__overlay__title div:last-of-type {
  font-family: "Engravers MT";
  transform: rotate(0deg);
  font-size: 60px;
  margin-right: 0px;
  margin-left: 4px;
}

/* Media Queries for desktop versions */

@media screen and (min-width: 768px) {
  .home__hero__overlay__title {
    font-size: 40px;
  }
  .trailer {
    padding: 150px 0;
  }
}

@media screen and (min-width: 992px) {
  .home__hero__overlay__title {
    font-size: 50px;
  }
}
