.home__display {
  height: 100vh;
}
.home__display::before,
.home__display::after {
  background-color: transparent !important;
}
.home__display__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}
