.women__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .women__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
