.header {
  height: 80px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  padding-top: 20px;
}
.header__logo {
  height: 50px;
  object-fit: contain;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .header {
    height: 100px;
  }
  .header__logo {
    height: 70px;
    object-fit: contain;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    height: 80px;
    object-fit: contain;
    margin-bottom: 0;
  }
}
